<div class="page-header">
  <h3>Helpful Rating #<%= @helpful_rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Review</dt>
      <dd><%= @helpful_rating.review_id %></dd>

      <dt>Helpful rate</dt>
      <dd><%= @helpful_rating.helpful_rate %></dd>

      <dt>User</dt>
      <dd><%= @helpful_rating.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/helpful_ratings" class="btn btn-primary">
        Back
      </a>
      <a href="/helpful_ratings/<%= @helpful_rating.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_helpful_rating/<%= @helpful_rating.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
