<!-- Validation failure messages -->
<% if @idea.errors.any? %>
  <% @idea.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Idea #<%= @idea.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_idea/<%= @idea.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @idea.user_id %>">
      </div>

      <!-- Label and input for date_title -->
      <div class="form-group">
        <label for="date_title" class="control-label">
          Date title
        </label>

        <input type="text" id="date_title" name="date_title" placeholder="Date title" class="form-control" value="<%= @idea.date_title %>">
      </div>

      <!-- Label and input for date_description -->
      <div class="form-group">
        <label for="date_description" class="control-label">
          Date description
        </label>

        <input type="text" id="date_description" name="date_description" placeholder="Date description" class="form-control" value="<%= @idea.date_description %>">
      </div>

      <!-- Label and input for price_category -->
      <div class="form-group">
        <label for="price_category" class="control-label">
          Price category
        </label>

        <input type="text" id="price_category" name="price_category" placeholder="Price category" class="form-control" value="<%= @idea.price_category %>">
      </div>

      <button class="btn btn-warning">
        Update Idea
      </button>
      or
      <a href="/ideas/<%= @idea.id %>">Cancel</a>
    </form>
  </div>
</div>
