<!-- Validation failure messages -->
<% if @venue_date_relation.errors.any? %>
  <% @venue_date_relation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Venue Date Relation #<%= @venue_date_relation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_venue_date_relation/<%= @venue_date_relation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date_id -->
      <div class="form-group">
        <label for="date_id" class="control-label">
          Date
        </label>

        <%= select_tag(:date_id, options_from_collection_for_select(Idea.all, :id, :user_id, @venue_date_relation.date_id), :class => "form-control") %>
      </div>

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>

        <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :date_id, @venue_date_relation.venue_id), :class => "form-control") %>
      </div>

      <!-- Label and input for information -->
      <div class="form-group">
        <label for="information" class="control-label">
          Information
        </label>

        <input type="text" id="information" name="information" placeholder="Information" class="form-control" value="<%= @venue_date_relation.information %>">
      </div>

      <button class="btn btn-warning">
        Update Venue Date Relation
      </button>
      or
      <a href="/venue_date_relations/<%= @venue_date_relation.id %>">Cancel</a>
    </form>
  </div>
</div>
