<div class="page-header">
  <h3>Venue Date Relation #<%= @venue_date_relation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @venue_date_relation.date_id %></dd>

      <dt>Venue</dt>
      <dd><%= @venue_date_relation.venue_id %></dd>

      <dt>Information</dt>
      <dd><%= @venue_date_relation.information %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venue_date_relations" class="btn btn-primary">
        Back
      </a>
      <a href="/venue_date_relations/<%= @venue_date_relation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venue_date_relation/<%= @venue_date_relation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
