<div class="page-header">
  <h3>Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date idea</dt>
      <dd>
        <% if @review.date_idea.present? %>
          <a href="/ideas/<%= @review.date_idea_id %>">
            <%= @review.date_idea.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @review.user.present? %>
          <a href="/users/<%= @review.user_id %>">
            <%= @review.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Date idea rating</dt>
      <dd><%= @review.date_idea_rating %></dd>

      <dt>Date idea rating comment</dt>
      <dd><%= @review.date_idea_rating_comment %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @review.user %>
        <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Review has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @review.photos.each do |photo| %>
        <li class="list-group-item">
          <a href="/photos/<%= photo.id %>">
            <%= photo.review_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_photo" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for review_id -->
      <input type="hidden" name="review_id" value="<%= @review.id %>">

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="file" id="photo" name="photo" class="form-control">
      </div>

      <!-- Label and input for photo_description -->
      <div class="form-group">
        <label for="photo_description" class="control-label">
          Photo description
        </label>

        <input type="text" id="photo_description" name="photo_description" placeholder="Photo description" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Photo
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Review has many helpful_ratings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Helpful_ratings
      </li>

      <% @review.helpful_ratings.each do |helpful_rating| %>
        <li class="list-group-item">
          <a href="/helpful_ratings/<%= helpful_rating.id %>">
            <%= helpful_rating.review_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/helpful_ratings/<%= helpful_rating.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/helpful_ratings/<%= helpful_rating.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_helpful_rating/<%= helpful_rating.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_helpful_rating" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for review_id -->
      <input type="hidden" name="review_id" value="<%= @review.id %>">

      <!-- Label and input for helpful_rate -->
      <div class="checkbox">
        <label for="helpful_rate">
          <input type="checkbox" id="helpful_rate" name="helpful_rate" value="1" <%= "checked" if @helpful_rating.helpful_rate %>>
          Helpful rate
        </label>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Helpful Rating
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Review has many helpful_users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Helpful_users
      </li>

      <% @review.helpful_users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
